{% extends "bootstrap/base.html" %}
  {% block head %}
    {{ super() }}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/stats_styles.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
  {% endblock %}
  {% block title %}
    Repo stats
  {% endblock %}

  {% block content %}
    <div style="padding: 50px">
      <h1 style="padding-left: 20px">{{ repository }}<small> {{ user }}</small></h1>
    </div>
    <div>
      <canvas id="bar-chart-grouped" width="400" height="175"></canvas>
    </div>
    <div>
      <canvas id="bar-chart" width="400" height="175"></canvas>
    </div>
    <div>
      <canvas id="bar-chart2" width="400" height="175"></canvas>
    </div>

    <script>
      new Chart(document.getElementById("bar-chart-grouped"), {
          type: 'bar',
          data: {
            labels: [{% for item in weeks %} "{{ item }}", {% endfor %}],
            datasets: [
              {
                label: "Additions",
                backgroundColor: "#00cc00",
                data: {{ additions }}
              }, {
                label: "Deletions",
                backgroundColor: "#cc0000",
                data: {{ deletions }}
              }
            ]
          },
          options: {
            title: {
              display: true,
              text: 'Additions and Deletions'
            }
          }
      });

      new Chart(document.getElementById("bar-chart"), {
          type: 'bar',
          data: {
            labels: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
            datasets: [
              {
                label: "Commits",
                backgroundColor: "#1d52cc",
                data: {{ days_data }}
              }
            ]
          },
          options: {
            title: {
              display: true,
              text: 'Commits by days'
            }
          }
      });

      new Chart(document.getElementById("bar-chart2"), {
          type: 'bar',
          data: {
            labels: [{% for i in range(1,52) %} {{ i }}, {% endfor %}],
            datasets: [
              {
                label: "Commits",
                backgroundColor: "#ccc600",
                data: {{ week_activity_data }}
              }
            ]
          },
          options: {
            title: {
              display: true,
              text: 'Commits by weeks'
            },
            scales: {
            xAxes: [{
                   ticks: {
                    fontSize: 7
                   }
            }]
            }
          }

      });

    </script>
  {% endblock %}
